<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Login</title>

    <link rel="stylesheet" href="../css/materialize.min.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <header id="header">
    </header>

    <section>
        <form class="" action="#" method="post">
            <div class="container">
                <div class="row">
                    <div class="col s12 m4">
                    </div>
                    <div class="col s12 m4">
                        <div class="card-panel #bbdefb blue lighten-4 z-depth-4">
                            <div class="center">
                                <i class="large material-icons">account_circle</i>
                            </div>
                            <div class="input-field">
                                <input id="last_name" type="text" class="validate">
                                <label for="last_name">Usuario</label>
                            </div>
                            <div class="input-field">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                            <center>
                                <a class="waves-effect waves-light btn #1de9b6 teal accent-3 waves-light">INGRESAR</a>
                            </center>
                            <br>
                            <a href="#!" onclick="showModal()">Click aui para crear una cuenta</a>
                            <div id="modal" class="modal">
                                <div class="modal-content">
                                    <h5 class="center">REGISTRO DE USUARIOS</h5>
                                    <div class="input-field">
                                        <input id="name" type="text" class="validate">
                                        <label for="name">Nombres y Apellidos</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="user_name" type="text" class="validate">
                                        <label for="user_name">Nombre de Usuario</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="pass" type="text" class="validate">
                                        <label for="pass">Password</label>
                                    </div>
                                    <div class="input-field">
                                        <input id="repit_pass" type="text" class="validate">
                                        <label for="repit_pass">Repit Password</label>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <center>
                                      <a class="waves-effect waves-light btn #1de9b6 teal accent-3 waves-light">GUARDAR</a>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>

    <script type="text/javascript" src="../js/jquery.js">
    </script>
    <script type="text/javascript" src="../js/materialize.min.js">
    </script>

    <script type="text/javascript" src="../js/controller/menu.js">
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('.modal').modal();
        });

        function showModal() {
            $('#modal').modal('open');
        }
    </script>
</body>

</html>
