<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>#</title>
</head>

<body>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper #26c6da cyan lighten-1">
                <a href="#" class="brand-logo">&nbsp;&nbsp;&nbsp;Tuto Materialize</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="#"><i class="left material-icons">home</i>Inicio</a></li>
                    <li><a href="#"><i class="left material-icons">help</i>Acerca</a></li>
                    <li><a href="#"><i class="left material-icons">contacts</i>Contacto</a></li>
                    <li><a href="#"><i class="left material-icons">account_circle</i>Login</a></li>
                </ul>
                <ul id="mobile-demo" class="side-nav">
                    <li><a href="#"><i class="left material-icons">home</i>Inicio</a></li>
                    <li><a href="#"><i class="left material-icons">help</i>Acerca</a></li>
                    <li><a href="#"><i class="left material-icons">contacts</i>Contacto</a></li>
                    <li><a href="#"><i class="left material-icons">account_circle</i>Login</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <script>
        $(document).ready(function() {
            $(".button-collapse").sideNav();

            $('.modal').modal();

            $(".dropdown-button").dropdown();
        });
    </script>
</body>

</html>
